.notice {
    color: rgb(0, 0, 0);
    background: rgb(0, 255, 0);
    font-size: 20px;
    border-style: solid;
    border-radius: 0.5px;
    margin-bottom: 10px;
    max-width: 300px;
}

.error {
    color: rgb(0, 0, 0);
    background: rgb(255, 0, 0);
    font-size: 20px;
    border-style: solid;
    border-radius: 0.5px;
    margin-bottom: 10px;
    max-width: 300px;
}